.nav {
  max-width: 900px;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}

.link {
  font-weight: 800;
}

.actions {
  display: flex;
  gap: 0.8rem;
}
