.tool_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.text_content {
    width: calc(100% - 60px);
}

.text_content > h2 {
    font-size: 1rem;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    background-color: var(--dark-80);
}

.action > svg {
    width: 2rem;
    height: 2rem;
    color: var(--background);
}