.container {
  width: 100%;
  max-width: 900px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

/* BorderRadius */
.border_radius {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.tool pre,
.border_radius  pre {
  padding: 1rem;
  border: 1px solid var(--foreground);
  border-radius: 4px;
}

.tool select,
.border_radius select {
  border-radius: 4px;
  padding: 0.3rem 1rem;
  background: var(--background);
}

.tool textarea,
.tool input {
  margin: .7rem 0;
  border-radius: 4px;
  padding: .4rem .3rem;
  border: 1px solid var(--dark-80);
  background-color: var(--dark-10);
  resize: vertical;
}

.tool .actions {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:  1rem;
}


